body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
}

.section-one {
    display: flex;
}

.section-two {
    display: flex;
}

.section-three {
    display: flex;
}

.section-four {
    display: flex;
}

.footer {
    display: flex;
}